.env
node_modules
*.zip
package-lock.json
web.config
db
/assets/uploads/
config
iisnode
/bdccb_shg_frontend/node_modules
/bdccb_shg_frontend/build
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
